pandas 
mlflow
notebook
numpy
sklearn
matplotlib
python-box      # using this to create exception ..we can create this exception sepreately without using this box library also.
pyYAML              # logging file also not created here .. it created in seperate folder..here we create only "exception " only using python box.
tqdm
ensure
joblib
types.pyYAML
Flask
Flask-Cors
-e .      # Used to install setup.py automatically
